$color-background: #f7eddd;
$color-beige: #f5ebdb;
$color-primary: blue;
$color-blue: #50bcdf;
$color-black: #0d1117;
$color-orange: #ff8234;
$color-red: #d72500;
$color-highlight-red: #f6090b;
$color-gray: #b9b9b9;
$color-border: #ddd;
$color-dark-brown: #502313;
$color-white: #fff;
$color-green: #168736;
