@font-face {
  font-family: 'DABANGU';
  src: url('../static/font/dabangu.woff2') format('woff2');
}

@font-face {
  font-family: 'GOTHIC';
  src: url('../static/font/gothic.woff2') format('woff2');
}

@import './mixin';
@import './color';

/**
 *  1rem : 16px.
 */
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'GOTHIC';

  background-color: $color-background;

  @include darkmode {
    background-color: $color-black;
  }
}

.App {
  width: 100vw;
}

.btn {
  border: none;
  background-color: $color-green;
  padding: 10px 12px;
  font-size: 1rem;
  color: $color-beige;
  border-radius: 10px;
  cursor: pointer;

  &:disabled {
    background-color: $color-gray;
    cursor: not-allowed;
  }
}

.fade-in {
  animation: fadeInKeyframes ease-in-out 300ms forwards;
}

@keyframes fadeInKeyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOutKeyframes ease-in-out 300ms forwards;
}

@keyframes fadeOutKeyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide-up {
  animation: slideUpKeyframes ease-in-out 300ms;
}

@keyframes slideUpKeyframes {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.banner {
  @include no-drag;

  height: 4rem;
  display: flex;
  align-items: center;

  .icon-wrap {
    width: 4rem;
    display: flex;
    align-items: center;
    .icon-img {
      width: 4rem;
      height: 4rem;

      filter: invert(75%) sepia(52%) saturate(5167%) hue-rotate(336deg)
        brightness(102%) contrast(101%);

      @include darkmode {
        filter: invert(94%) sepia(5%) saturate(770%) hue-rotate(340deg)
          brightness(102%) contrast(94%);
      }
    }
    margin-left: 12px;
    margin-right: 15px;
  }

  .text-wrap {
    display: flex;
    align-items: center;
    .text {
      color: $color-red;
      font-weight: bold;
      font-family: 'DABANGU';
      font-size: 1.5rem;
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .home-icon-wrap {
    cursor: pointer;
    margin-left: auto;
    margin-right: 2rem;
    background-color: transparent;
    border: none;
    .home-icon-img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
